<div class="main_container-fluid">      
  <div class="container" align="center">
    <div class="col-md-12 "align="center">
      <div class="image">
        <%=image_tag 'nd.png', :size => '750x300'%>
      </div>
        <hr/>
      <div class="show">
        <div class="login">
          <h1>Login to Farmers Connect</h1>
            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <div class="field" >
                <%= f.email_field :email, autofocus: true, :placeholder =>"Username or Email" %>
              </div>
              <div class="field">
                <%= f.password_field :password, autocomplete: "off", :placeholder =>"Password" %>
              </div>
              <% if devise_mapping.rememberable? -%>
              <div class="field">
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me %>
              </div>
            <% end -%>
              <div class="actions">
                <%= f.submit "Log in" %>
              </div>
            <% end %>
              <div align="right"> <%= render "devise/shared/links" %></div>
          </div>
        </div>
        <br/>
        <br/>
        <br/>
        <br/>
    </div>
  </div>
</div>