<div align="center">
	<div class="main_container-fluid">
		<div class="abt">
	    <div id="link">
				<%=image_tag 'con.jpg', :size => '800x300'%><br />
					<div id="inlink">
						<div align="left">
							<%=image_tag 'fonee.png', :size => '70x70'%><br/>
						  +2347036752822<br/>+2347062193996<br/>+2348186490165
						</div>
						<div align="right">
							<a href="#"> <%=image_tag 'facebook-icon.png', :size => '70x70'%></a>
							<a href="#"> <%=image_tag 'twitter-icon.png', :size => '70x70'%></a>
							<a href="#"> <%=image_tag 'email.png', :size => '70x70'%></a>
						</div>
					</div>
			</div>
		</div>
	</div>
</div>