
<!DOCTYPE html>
<html lang="en">
	<head>
			<link rel="stylesheet" type="text/css" href="application.css.scss">
			<link rel="stylesheet", :href="cdnjs.cloudflare.com/ajax/lib/normalize/3.0.1/normalize.css">
		<title>Farmers Connect</title>
			<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
			<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
			<%= csrf_meta_tags %>
			<meta name ="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	    <meta charset="utf-8">
			<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	</head>
	<body>
		<div class="main_container-fluid">
			<nav class="navbar navbar-fixed-top" style="background-color:white">
				<div class="navbar-header" ></div>
				<div id="navbar" class="navbar-collapse collapse" ></div>
				<div class="logo">
					<div style="float: left">
						<%=image_tag 'logo.png', :size => '60x60'%>
						<%=link_to "FARMERS CONNECT", root_path %>
					</div>
				</div>
				<div style="float: right; padding-top:11px;">		  
					<ul class="nav nav-pills">
						<li role="presentation">
							<%=link_to "About Us", about_path %>
						</li>
					</ul>
				</div>
				<div style="float: right;  padding-top:11px;">		  
					<ul class="nav nav-pills">
						<li role="presentation">
							<%=link_to "Contact Us", contact_path %>
						</li>
					</ul>
				</div>
				<div style="float: right;  padding-top:11px;">
					<% if user_signed_in?%>
					  <ul class="nav nav-pills">
					  	<li role="presentation">
					  		<%=link_to "New Post", new_post_path %>
					  	</li>
					  </ul>
			  </div>
				<div style="float: right;  padding-top:11px;">		  
					<ul class="nav nav-pills">
						<li role="presentation">
							<%=link_to "Logout", destroy_user_session_path, :method => 'delete'%>
						</li>
					</ul>
				</div>
				<div style="float: right;  padding-top:11px;">		  
					<ul class="nav nav-pills">
						<li role="presentation">
							<%=link_to "Home", root_path%>
						</li>
					</ul>
				</div>
				<div style="float: right; padding-top:11px;">		 
					<ul class="nav nav-pills"><li role="presentation"><%=link_to "Profile", new_profile_path %>
						</li>
					</ul> 
				</div>
		  <%else%>
				<div style="float: right;  padding-top:1px;">		 
					<ul class="nav nav-pills">
						<li role="presentation">
							<%=link_to "Sign Up", new_user_registration_path %>
						</li>
					</ul>
				</div>
				<div style="float: right;  padding-top:1px;">
					<ul class="nav nav-pills">
						<li role="presentation">
							<%=link_to "Sign In", new_user_session_path %>
						</li>
					</ul>
				</div>
			<%end%>	
				</div>
			</div>
		</div>
				<!-- header -->
			</nav>			
		</div>								
			<p class="notice"><%= notice %></p>
		 	<p class="alert"><%= alert %></p>
		<nav class="navbar navbar-default navbar-fixed-bottom" style="background-color: #337AB7">
			<div style="color:white; text-align:center; padding-top:10px"> 
				FARMERS CONNECT<br />Copyright&copy2015 Team Phoenix<br/> All Right Reserved......Changing Agriculture in Africa
			</div>
		</nav>
		<%= yield %>				  
	</body>
</html>
